[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "==2.6.3"
matplotlib = "==3.5.1"
pyqt5 = "==5.15.6"

[dev-packages]

[requires]
python_version = "3.8"
